

<header class="container-fluid py-2 shadow-sm" id="main-header" style="background-color: #1f2d3d;" data-bs-theme="light">
  <div class="d-flex align-items-center justify-content-between">

    <!-- Logo -->
    <img src="http://localhost:3000/imagenes/logo/logo.png" alt="Logo de GameGift" class="img-fluid" style="height: 50px;">

    <!-- Título centrado -->
    <h1 class="flex-grow-1 text-center text-white m-0">Game Shop</h1>

    <!-- Botón modo claro/oscuro -->
    <button id="modo-btn" class="btn btn-outline-light">
      <span id="icono">🌙</span>
    </button>

  </div>
</header>


